.body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: #ecf0f1;
}

.wrapper{
    width: 320px;
    height:400px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.25);
    transform-style: preserve-3d;
    transform: perspective(2500px) ;
}

.door{
    content: "";
    position: absolute;
    background-color: #924500;
    width: 50%;
    height: 100%;
    border: 1px solid #000;
    transition: all 1s;

}

.door1{
    left: 0;
    top: 0;
    transform-origin: left;
}

.door2{
    right: 0;
    top: 0;
    transform-origin: right;

}

.wrapper:hover .door1{
    transform: rotateY(-150deg);
}

.wrapper:hover .door2{
    transform: rotateY(150deg);
}